autom4te.cache/
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
leek
missing
pkg/leek.spec
src/.deps/
src/.dirstamp
src/*.o
stamp-h1
