autom4te.cache/
Makefile.in
Makefile
aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
leek
missing
pkg/centos/leek.spec
src/.deps/
src/.dirstamp
src/*.o
stamp-h1
_build/
*.tar.bz2
*.tar.gz
